<div class="flex bg-[#333367] text-slate-300 h-24 w-screen max-w-[1200px] justify-between items-center px-6">

  <a [routerLink]="['/hotel-dashboard/hotel-list']">
    <div id="logo" class="p-3 md:p-6">
      <h1 class="text-lg sm:text-xl md:text-2xl font-bold text-white">Hotels<span class="text-blue-500">10</span>.</h1>
      <p class="text-white text-xs md:text-sm md:text-base">Search, Explore and book amazing places!</p>
    </div>
  </a>
  <app-dropdown-menu></app-dropdown-menu>

</div>
